@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

@font-face{
    font-family: 'DM Sans Medium';
    src: url('../src/assets/DMSans-Medium.ttf');
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
} */

.prompt::-webkit-scrollbar {
    width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
    background-color: #666e75;
    border-radius: 5px;
    
}

input::file-selector-button {
    background-color: #1e293b;
    font-family: 'DM Sans Medium';
    color: white;
    padding: 0.5rem 1rem;
   
  }


  